<table style="width:60%">
    <tr>
      <th>Pollutant</th>
      <th>TimeLine</th>
      <th>Avg</th>
      <th>Min</th>
      <th>Max</th>
    </tr>
    <tr>
      <td>PM2.5</td>
      <td>
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient">
        </ngx-charts-bar-vertical>
      </td>
      <td>50</td>
      <td>20</td>
      <td>70</td>
    </tr>
    <tr>
      <td>PM2.5</td>
      <td>
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
      </td>
      <td>50</td>
      <td>20</td>
      <td>70</td>
    </tr>
    <tr>
      <td>PM2.5</td>
      <td>
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
      </td>
      <td>50</td>
      <td>20</td>
      <td>70</td>
    </tr>
  </table>